<div *ngIf="!selectedEventId">
    <div class="table-container" *ngIf="events && events.length; else noEventsTemplate">
        <table mat-table [dataSource]="events">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element">{{element.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </ng-container>
            <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef>Location</th>
                <td mat-cell *matCellDef="let element">{{element.location?.name || "Deleted location!"}}</td>
            </ng-container>
            <ng-container matColumnDef="organizer">
                <th mat-header-cell *matHeaderCellDef>Organizer</th>
                <td mat-cell *matCellDef="let element">{{element.organizer?.name || "Deleted user!"}}</td>
            </ng-container>
            <ng-container matColumnDef="defaultPrice">
                <th mat-header-cell *matHeaderCellDef>Default Price</th>
                <td mat-cell *matCellDef="let element">{{element.defaultPrice}}</td>
            </ng-container>
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef>View tickets</th>
                <td mat-cell *matCellDef="let element; let i = index"><mat-icon fontIcon="visibility" (click)="showTickets(element._id, i)"></mat-icon></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsEvent"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsEvent"></tr>
        </table>
    </div>
</div>
<ng-template #noEventsTemplate>
    <p>No events available.</p>
</ng-template>

<div *ngIf="selectedEventId">
    <div class="back-button">
        <button type="button" class="back-button-button" (click)="backToEvents()">Back to Events</button>
    </div>
    <div class="table-container" *ngIf="tickets && tickets.length; else noTicketsTemplate">
        <table mat-table [dataSource]="tickets">
            <ng-container matColumnDef="seat">
                <th mat-header-cell *matHeaderCellDef>Seat(row | number)</th>
                <td mat-cell *matCellDef="let element"> {{element.seat?.row || "Deleted seat!"}} | {{element.seat?.number}}</td>
            </ng-container>
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef>Category</th>
                <td mat-cell *matCellDef="let element"> {{element.seat?.category || "Deleted seat!"}} </td>
            </ng-container>
            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef>Discount</th>
                <td mat-cell *matCellDef="let element">{{element.discount}}</td>
            </ng-container>
            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef>Order user</th>
                <td mat-cell *matCellDef="let element">{{element.order?.user?.name || "Deleted user!"}}</td>
            </ng-container>
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Order status</th>
                <td mat-cell *matCellDef="let element">{{element.order?.status}}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Order date</th>
                <td mat-cell *matCellDef="let element">{{element.order?.orderDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>Edit</th>
                <td mat-cell *matCellDef="let element; let i = index"><mat-icon fontIcon="edit" (click)="updateTicket(element._id, i)"></mat-icon></td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let element; let i = index"><mat-icon *ngIf="element.order?.status === 'compleated' || element.order?.status === 'cancelled'" fontIcon="delete" (click)="deleteTicket(element._id, i)"></mat-icon></td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsTicket"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsTicket"></tr>
        </table>
    </div>
</div>
<ng-template #noTicketsTemplate>
    <p>No tickets available.</p>
</ng-template>
