<div class="register-container">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <input formControlName="nickname" type="text" placeholder="Nickname" required [ngClass]="{'invalid-input': registerForm.get('nickname')?.errors && (registerForm.get('nickname')?.dirty || registerForm.get('nickname')?.touched)}"/>
        <div *ngIf="(registerForm.get('nickname')?.invalid && (registerForm.get('nickname')?.dirty || registerForm.get('nickname')?.touched))">
            <p *ngIf="registerForm.get('nickname')?.errors && registerForm.get('nickname')?.errors!['required']">Nickname is required!</p>
            <p *ngIf="registerForm.get('nickname')?.errors && registerForm.get('nickname')?.errors!['maxlength']">Nickname must be less than 30 charachters long!</p>
        </div>
        <input formControlName="email" type="email" placeholder="Email" required [ngClass]="{'invalid-input': registerForm.get('email')?.errors && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)}" />
        <div *ngIf="(registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched))">
            <p *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.errors!['required']">Email is required!</p>
            <p *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.errors!['email']">Email is invalid!</p>
        </div>
        <input formControlName="password" type="password" placeholder="Password" required [ngClass]="{'invalid-input': registerForm.get('password')?.errors && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)}" />
        <div *ngIf="(registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched))">
            <p *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.errors!['required']">Password is required!</p>
            <p *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.errors!['minlength']">Password must be at least 8 charachters long!</p>
            <p *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.errors!['maxlength']">Password must be less than 30 charachters long!</p>
        </div>
        <input formControlName="confirmPassword" type="password" placeholder="Confirm password" required [ngClass]="{'invalid-input': registerForm.get('confirmPassword')?.errors && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched)}" />
        <div *ngIf="(registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched))">
            <p *ngIf="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.errors!['required']">Confirming password is required!</p>
            <p *ngIf="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.errors!['mustMatch']">Passwords must match!</p>
        </div>
        <input formControlName="name" type="text" placeholder="Full name" />
        <input formControlName="address" type="text" placeholder="Address" />
        <input formControlName="telephone" type="tel" name="phone" placeholder="Phone number" title="Accepted format: +36201234567 or 06201234567" />
        <div *ngIf="registerForm.get('telephone')?.errors?.['invalidPhone'] && registerForm.get('telephone')?.dirty">
            <p>Phone number is invalid! Accepted format: +36201234567 or 06201234567</p>
        </div>
        <div class="buttons">
            <button type="submit" (click)="navigateToLogin('/login')">Register</button>
        </div>
        <div class="buttons">
            <button type="reset" (click)="navigateToLogin('/login')">Cancel</button>
        </div>
    </form>
</div>
