table {
    width: 100%;
    margin-top: 20px;
}

.table-container {
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    cursor: pointer;
    border: none;
    background-color: rgb(238, 39, 39);
    width: 50%;
    color: white;
    padding: 10px;
}

button:hover {
    background-color: rgb(121, 12, 12);
}
