<h2 mat-dialog-title>Create User</h2>
<mat-dialog-content [formGroup]="userForm">
  <mat-form-field class="full-width">
    <mat-label>Nickname</mat-label>
    <input matInput formControlName="nickname" type="text" placeholder="Nickname" required [ngClass]="{'invalid-input': userForm.get('nickname')?.errors && (userForm.get('nickname')?.dirty || userForm.get('nickname')?.touched)}" />
  </mat-form-field>
  <div *ngIf="(userForm.get('nickname')?.invalid && (userForm.get('nickname')?.dirty || userForm.get('nickname')?.touched))">
    <p *ngIf="userForm.get('nickname')?.errors && userForm.get('nickname')?.errors!['required']">Nickname is required!</p>
    <p *ngIf="userForm.get('nickname')?.errors && userForm.get('nickname')?.errors!['maxlength']">Nickname must be less than 30 charachters long!</p>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" placeholder="Email" required [ngClass]="{'invalid-input': userForm.get('email')?.errors && (userForm.get('email')?.dirty || userForm.get('email')?.touched)}" />
  </mat-form-field>
  <div *ngIf="(userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched))">
    <p *ngIf="userForm.get('email')?.errors && userForm.get('email')?.errors!['required']">Email is required!</p>
    <p *ngIf="userForm.get('email')?.errors && userForm.get('email')?.errors!['email']">Email is invalid!</p>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" placeholder="Password" required [ngClass]="{'invalid-input': userForm.get('password')?.errors && (userForm.get('password')?.dirty || userForm.get('password')?.touched)}" />
  </mat-form-field>
  <div *ngIf="(userForm.get('password')?.invalid && (userForm.get('password')?.dirty || userForm.get('password')?.touched))">
    <p *ngIf="userForm.get('password')?.errors && userForm.get('password')?.errors!['required']">Password is required!</p>
    <p *ngIf="userForm.get('password')?.errors && userForm.get('password')?.errors!['minlength']">Password must be at least 8 characters long!</p>
    <p *ngIf="userForm.get('password')?.errors && userForm.get('password')?.errors!['maxlength']">Password must be less than 30 characters long!</p>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Confirm Password</mat-label>
    <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm password" required [ngClass]="{'invalid-input': userForm.get('confirmPassword')?.errors && (userForm.get('confirmPassword')?.dirty || userForm.get('confirmPassword')?.touched)}" />
  </mat-form-field>
  <div *ngIf="(userForm.get('confirmPassword')?.invalid && (userForm.get('confirmPassword')?.dirty || userForm.get('confirmPassword')?.touched))">
    <p *ngIf="userForm.get('confirmPassword')?.errors && userForm.get('confirmPassword')?.errors!['required']">Confirming password is required!</p>
    <p *ngIf="userForm.get('confirmPassword')?.errors && userForm.get('confirmPassword')?.errors!['mustMatch']">Passwords must match!</p>
  </div>

  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" type="text" placeholder="Name" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address" type="text" placeholder="Address" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Telephone</mat-label>
    <input matInput formControlName="telephone" type="tel" name="phone" title="Accepted format: +36201234567 or 06201234567" />
  </mat-form-field>
  <div *ngIf="userForm.get('telephone')?.errors?.['invalidPhone'] && userForm.get('telephone')?.dirty">
    <p>Phone number is invalid! Accepted format: +36201234567 or 06201234567</p>
  </div>

  <mat-label>
    Check the box to create an admin user.
    <mat-checkbox formControlName="isAdmin">Admin</mat-checkbox>
  </mat-label>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button type="submit" mat-raised-button color="primary" (click)="onCreate()" [disabled]="!userForm.valid">Create</button>
  <button type="reset" mat-button (click)="onCancel()">Cancel</button>
</mat-dialog-actions>
